PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://username:password@cluster.xxxxx.mongodb.net/askbase
GROQ_API_KEY=your_groq_api_key
VOYAGE_API_KEY=your_voyage_api_key
LLAMAPARSE_API_KEY=your_llamaparse_api_key
LOG_LEVEL=info
